*.pyc
*.class
.DS_Store
target/
.classpath
automatization_scripts/*.*
puppet-wrapper/acceptance_tests/testreport
.project
.settings

rest-api/catalina.base_IS_UNDEFINED/
rest-api/jetty.base_IS_UNDEFINED/

# Package Files #
#*.jar
*.war
*.ear

#IDE
.idea
*/*.iml
*.iml

#jetty test
jetty.base_IS_UNDEFINED
