<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <display-name>SDC-Server</display-name>

    <resource-ref>
        <description>SDC Datasource</description>
        <res-ref-name>jdbc/sdc</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!--  SPRING -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <!-- END SPRING -->

    <filter>
        <filter-name>jpaFilter</filter-name>
        <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
        <init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <param-value>entityManagerFactory</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>jpaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- The CORS filter with parameters -->
    <!--     <filter>
           <filter-name>CORS</filter-name>
           <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

           <init-param>
               <param-name>cors.allowOrigin</param-name>

               <param-value>*</param-value>
           </init-param>
           <init-param>
               <param-name>cors.supportedHeaders</param-name>
               <param-value>Content-Type,Accept-Type,X-Auth-Token,Origin,Accept</param-value>
           </init-param>

       </filter>
       <filter-mapping>
           <filter-name>CORS</filter-name>
           <url-pattern>/*</url-pattern>
       </filter-mapping>  -->

    <!-- Jersey Servlet  -->
    <servlet>
        <servlet-name>SDC Rest Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.telefonica.euro_iaas.sdc.rest
            </param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>
                <!--
                  Your application packages go here
                -->

                <!--
                  Jackson 2.x JAX-RS @Providers
                -->
                com.fasterxml.jackson.jaxrs.json  <!-- JSON -->
                com.fasterxml.jackson.jaxrs.xml   <!-- XML -->
            </param-value>
        </init-param>

        <!--
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        -->

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.telefonica.euro_iaas.sdc.rest.util.MyRESTAPIApp</param-value>
        </init-param>


        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SDC Rest Servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- SPRING SECURITY -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- BOOTSTRAP ACTIONS -->
    <!-- Init the db with some "fake" data...Delete this when preconditions
     are implemented -->
    <listener>
        <listener-class>
            com.telefonica.euro_iaas.sdc.bootstrap.InitDbBootstrap
        </listener-class>
    </listener>
    <!-- init the properties -->
    <listener>
        <listener-class>
            com.telefonica.euro_iaas.sdc.bootstrap.PropertiesLoaderBootstrap
        </listener-class>
    </listener>
    <!-- register the properties through jmx-->
    <listener>
        <listener-class>
            com.telefonica.euro_iaas.sdc.bootstrap.PropertiesMBeanRegisterBootstrap
        </listener-class>
    </listener>
    <!-- SECURITY -->


    <!--  ERROR PAGES -->

</web-app>
