<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.telefonica.euro_iaas.sdc.puppetwrapper" additivity="false">
		<level value="DEBUG" />
	</logger>
	
	<!-- SpringFramework logger -->
     <logger name="org.springframework" additivity="false">
        <level value="error" />
        <appender-ref ref="puppetwrapper" />
    </logger>

	<logger name="org.springframework">
		<level value="error" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>