<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="puppetwrapper" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.telefonica.euro_iaas.sdc.puppetwrapper" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="puppetwrapper" />
	</logger>
	
	<!-- SpringFramework logger -->
     <logger name="org.springframework" additivity="false">
        <level value="debug" />
        <appender-ref ref="puppetwrapper" />
    </logger>

	<logger name="de.flapdoodle.embed.mongo" additivity="false">
		<level value="info" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="puppetwrapper" />
	</root>

</configuration>