<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="sdcAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/sdc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/sdc.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | comp=SDC - %c{0} | op=%M | msg=%m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="puppetAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/puppet.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/puppet.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | comp=SDC - %c{0} | op=%M | msg=%m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="chefAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/chef.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/chef.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | comp=SDC - %c{0} | op=%M | msg=%m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="authentication"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/authentication.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/authentication.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | comp=SDC - %c{0} | op=%M | msg=%m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="aspectAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jetty.base}/logs/sdc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${jetty.base}/logs/sdc.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>time=%d{yyyy-MM-dd HH:mm:ss.SSS} | lvl=%-5p | trans=%X{txId} | %m%n
            </pattern>
        </encoder>
    </appender>

    <logger
            name="com.telefonica.euro_iaas.sdc.installator.impl.InstallatorPuppetImpl"
            additivity="true">
        <level value="INFO"/>
        <appender-ref ref="puppetAppender"/>
    </logger>

    <logger
            name="com.telefonica.euro_iaas.sdc.installator.impl.InstallatorChefImpl"
            additivity="true">
        <level value="INFO"/>
        <appender-ref ref="chefAppender"/>
    </logger>

    <logger name="aspectLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="aspectAppender"/>
    </logger>

    <logger name="com.telefonica.euro_iaas.sdc.rest.auth"
            additivity="false">
        <level value="INFO"/>
        <appender-ref ref="authentication"/>
    </logger>

    <logger name="org.hibernate" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="sdcAppender"/>
    </logger>

    <!-- SpringFramework logger -->
    <logger name="org.springframework" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="sdcAppender"/>
    </logger>

    <root>

        <level value="INFO"/>
        <appender-ref ref="sdcAppender"/>
    </root>

</configuration>
