<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-autowire="no">

    <bean id="taskManager" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.manager.async.impl.TaskManagerImpl">
        <property name="taskDao" ref="taskDao"/>
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"></property>
    </bean>


    <bean id="productInstanceAsyncManager" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.manager.async.impl.ProductInstanceAsyncManagerImpl">
        <property name="productInstanceManager" ref="productInstanceManager"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="taskNotificator" ref="taskNotificator"/>
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
    </bean>

   <bean id="artifactAsyncManager" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.manager.async.impl.ArtifactAsyncManagerImpl">
       <property name="artifactManager" ref="artifactManager"/>
       <property name="taskManager" ref="taskManager"/>
       <property name="taskNotificator" ref="taskNotificator"/>
       <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
    </bean>
    
    <bean id="nodeAsyncManager" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.manager.async.impl.NodeAsyncManagerImpl">
        <property name="nodeManager" ref="nodeManager"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="taskNotificator" ref="taskNotificator"/>
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
    </bean>
</beans>
