<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-autowire="no">

    <bean id="propertiesDAO"
          class="com.telefonica.euro_iaas.commons.properties.impl.PropertiesDAOJPAImpl">
    </bean>

    <bean id="propertiesProvider"
          class="com.telefonica.euro_iaas.commons.properties.impl.PropertiesProviderImpl">
        <constructor-arg index="0" ref="propertiesDAO"/>
    </bean>


    <bean id="systemPropertiesProvider"
          class="com.telefonica.euro_iaas.sdc.util.SystemPropertiesProviderImpl">
        <property name="propertiesProvider" ref="propertiesProvider"/>
        <property name="namespace" value="/SystemConfiguration.properties"/>
    </bean>

</beans>
