<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-autowire="no">

    <bean id="commandExecutor" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.CommandExecutorShellImpl">
    </bean>


    <bean id="baseInstallableInstanceManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.BaseInstallableInstanceManager">
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
        <property name="sdcClientUtils" ref="sdcClientUtils"/>
        <property name="recipeNamingGenerator" ref="recipeNamingGenerator"/>
        <property name="chefNodeDao" ref="chefNodeDao"/>
    </bean>

    <bean id="productInstanceManager" lazy-init="true" parent="baseInstallableInstanceManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ProductInstanceManagerChefImpl">
        <property name="productInstanceDao" ref="productInstanceDao"/>
        <property name="productDao" ref="productDao"/>
        <property name="validator" ref="productInstanceValidator"/>
        <property name="ip2vm" ref="ip2vm"/>
    </bean>

    <bean id="applicationInstanceManager" lazy-init="true" parent="baseInstallableInstanceManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationInstanceManagerChefImpl">
        <property name="applicationInstanceDao" ref="applicationInstanceDao"/>
        <property name="applicationDao" ref="applicationDao"/>
        <property name="validator" ref="applicationInstanceValidator"/>
    </bean>

    <!-- CATALOG MANAGER -->

    <bean id="productManager" lazy-init="true" parent="baseInstallableManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ProductManagerImpl">
        <property name="osDao" ref="osDao"/>
        <property name="productDao" ref="productDao"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
        <property name="validator" ref="productReleaseValidator"/>
    </bean>

    <bean id="applicationManager" lazy-init="true" parent="baseInstallableManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationManagerImpl">
        <property name="applicationDao" ref="applicationDao"/>
        <property name="applicationReleaseDao" ref="applicationReleaseDao"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
        <property name="environmentDao" ref="environmentDao"/>
        <property name="productDao" ref="productDao"/>
        <property name="validator" ref="applicationReleaseValidator"/>
    </bean>

     <bean id="baseInstallableManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.BaseInstallableManager">
        <property name="commandExecutor" ref="commandExecutor"/>
        <property name="propertiesProvider" ref="systemPropertiesProvider"/>
        <property name="fileDao" ref="fileDao"/>
    </bean>
    
     <bean id="environmentManager" lazy-init="true" 
        class="com.telefonica.euro_iaas.sdc.manager.impl.EnvironmentManagerImpl">
        <property name="environmentDao" ref="environmentDao"/>
        <property name="productDao" ref="productDao"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
        <property name="validator" ref="environmentValidator"/>
    </bean>
    
    <bean id="environmentInstanceManager" lazy-init="true" 
        class="com.telefonica.euro_iaas.sdc.manager.impl.EnvironmentInstanceManagerImpl">
        <property name="environmentDao" ref="environmentDao"/>
        <property name="environmentInstanceDao" ref="environmentInstanceDao"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
        <property name="validator" ref="environmentInstanceValidator"/>
    </bean>

    <!-- UTILS CLASSES -->
    <bean id="recipeNamingGenerator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.RecipeNamingGeneratorImpl">
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
    </bean>

    <bean id="rsaSigner" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.RSASignerImpl">
    </bean>

    <bean id="mixlibAuthenticationDigester" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.MixlibAuthenticationDigesterImpl">
        <property name="signer" ref="rsaSigner"></property>
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
    </bean>


    <bean id="restClient" class="com.sun.jersey.api.client.Client"
     factory-method="create"/>

    <bean id="chefNodeDao" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.dao.impl.ChefNodeDaoRestImpl">
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
        <property name="digester" ref="mixlibAuthenticationDigester"></property>
        <property name="client" ref="restClient"/>
    </bean>

    <bean id="fileDao" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.dao.impl.FileDaoWebDavImpl">
          <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
          <property name="client" ref="restClient"/>
    </bean>

    <bean id="sdcClientUtils" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.SDCClientUtilsImpl">
                <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
                <property name="client" ref="restClient"/>
                <property name="nodeCommandDao" ref="nodeCommandDao"/>
                <property name="osDao" ref="osDao"/>
    </bean>

    <bean id="ip2vm" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.IpToVMRestClientImpl">
                <property name="sdcClientUtils" ref="sdcClientUtils"/>
    </bean>

    <bean id="taskNotificator" lazy-init="true"
          class="com.telefonica.euro_iaas.sdc.util.TaskNotificatorImpl">
          <property name="client" ref="restClient"/>
    </bean>


    <!-- ===========
    == VALIDATORS ==
    ================ -->

    <bean id="fsmValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.FSMValidatorImpl">
    </bean>

    <bean id="productInstanceValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.ProductInstanceValidatorImpl">
            <property name="applicationInstanceDao" ref="applicationInstanceDao"/>
            <property name="fsmValidator" ref="fsmValidator"/>
    </bean>
    <bean id="applicationInstanceValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.ApplicationInstanceValidatorImpl">
            <property name="fsmValidator" ref="fsmValidator"/>
    </bean>
    <bean id="productReleaseValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.ProductReleaseValidatorImpl">
            <property name="productInstanceDao" ref="productInstanceDao"/>
            <property name="applicationReleaseDao" ref="applicationReleaseDao"/>
    </bean>
    <bean id="applicationReleaseValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.ApplicationReleaseValidatorImpl">
            <property name="productReleaseDao" ref="productReleaseDao"/>
            <property name="applicationInstanceDao" ref="applicationInstanceDao"/>
            <property name="productDao" ref="productDao"/>
    </bean>
    <bean id="environmentValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.EnvironmentValidatorImpl">
            <property name="productInstanceDao" ref="productInstanceDao"/>
            <property name="applicationReleaseDao" ref="applicationReleaseDao"/>
    </bean>
    <bean id="environmentInstanceValidator" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.validation.EnvironmentInstanceValidatorImpl">
        <property name="applicationInstanceDao" ref="applicationInstanceDao"/>
    </bean>
    
</beans>
