<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-autowire="no">

    <bean id="imageManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ImageManagerImpl">
        <property name="osDao" ref="osDao"/>
        <property name="productDao" ref="productDao"/>
        <property name="imageDao" ref="imageDao"></property>
        <property name="productInstanceManager" ref="productInstanceManager"/>
        <property name="osInstanceManager" ref="osInstanceManager"/>
    </bean>

    <bean id="osInstanceManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.OSInstanceManagerCristianToolsImpl">
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
        <property name="osInstanceDao" ref="osInstanceDao"/>
        <property name="commandExecutor" ref="commandExecutor"/>
    </bean>

    <bean id="ip2vm" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.IpToVMRestClientImpl">
    </bean>

    <bean id="commandExecutor" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.util.CommandExecutorShellImpl">
    </bean>


    <bean id="baseInstallableInstanceManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.BaseInstallableInstanceManager">
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
        <property name="commandExecutor" ref="commandExecutor"/>
    </bean>

    <bean id="productInstanceManager" lazy-init="true" parent="baseInstallableInstanceManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ProductInstanceManagerChefImpl">
        <property name="productInstanceDao" ref="productInstanceDao"/>
        <property name="ip2vm" ref="ip2vm"/>
    </bean>

    <!-- APPLICATION MANAGER DECORATORS -->
    <bean id="applicationInstanceManagerFactory" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationInstanceManagerFactoryImpl">
        <property name="defaultManager" ref="applicationInstanceManager"/>
        <property name="warManager" ref="applicationInstanceManagerWar"/>
    </bean>


    <bean id="applicationInstanceManager" lazy-init="true" parent="baseInstallableInstanceManager"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationInstanceManagerChefImpl">
        <property name="applicationInstanceDao" ref="applicationInstanceDao"/>
    </bean>

    <bean id="applicationInstanceManagerWar" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationInstanceManagerWarDecoratorImpl">
        <property name="applicationInstanceManager" ref="applicationInstanceManager"/>
        <property name="propertiesProvider" ref="systemPropertiesProvider"></property>
        <property name="commandExecutor" ref="commandExecutor"/>
    </bean>

    <!-- CATALOG MANAGER -->

    <bean id="productManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ProductManagerImpl">
        <property name="productDao" ref="productDao"/>
    </bean>

    <bean id="applicationManager" lazy-init="true"
        class="com.telefonica.euro_iaas.sdc.manager.impl.ApplicationManagerImpl">
        <property name="applicationDao" ref="applicationDao"/>
    </bean>


</beans>
